html {
    margin: 0px;
    padding: 0px;
}

body{
    background-image: url(../img/Fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

h1{
    text-align: center;
    color: white;
    font-size: 100px;
}

p{
    text-align: center;
    color: white;
    font-size: 50px;
}


ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    backdrop-filter: transparent;
}

.navbar-center{
    text-align: center;
}

li{
    float: left;
    
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover{
    background-color: #111;
}


.Active {
    background-color: #4CAF50;
}

.toRight {
    float: right;
}

.toCenter{
    float: none;
    display: inline-block;
}


footer{
    text-align: center;
}